.CreateTodoButton{
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #8d8d8d;
    background: #252525;
    box-shadow: 3px 3px #8d8d8d;
    cursor: pointer;
    margin: 35px 0;
    transform: rotate(0);
    transition: .3s ease;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

  .CreateTodoButton:hover{
    transform: rotate(224deg);
  }