body{
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1e1e1f;
  font-family: 'Montserrat','arial','Helvetica','sans-sarif';
  
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
  border-radius: 27px;
  background: #e0e0e0;
  box-shadow:  50px 50px 100px #868686,
              -50px -50px 100px #ffffff;
}
